
.background {
    -fx-background-color: "#454545";
}

/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/

.button-start {
    -fx-border-width: 2px;
    -fx-border-color: "#5CBD5C";
    -fx-border-style: solid;
    -fx-border-radius: 4px;
    -fx-background-color: "#454545";
    -fx-focus-color: transparent;
    -fx-text-fill: "#5CBD5C";
    -fx-cursor: hand;
}

.button-start:hover {
    -fx-background-color: "#373737";
}

.button-stop {
    -fx-border-width: 2px;
    -fx-border-color: "#E34A3E";
    -fx-border-style: solid;
    -fx-border-radius: 2px;
    -fx-background-color: "#454545";
    -fx-focus-color: transparent;
    -fx-text-fill: "#E34A3E";
    -fx-cursor: hand;
    -fx-min-width: 65;
}

.button-stop:hover {
    -fx-background-color: "#373737";
}

.button-default {
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: "#4A90E2";
    -fx-border-radius: 2px;
    -fx-background-color: "#454545";
    -fx-focus-color: transparent;
    -fx-text-fill: "#4A90E2";
    -fx-cursor: hand;
}

.button-unclickable {
    -fx-border-color: "#848484";
    -fx-border-radius: 2px;
    -fx-focus-color: transparent;
    -fx-text-fill: "#848484";
    -fx-cursor: pointer;
}

.button-default:hover {
    -fx-background-color: "#373737";
}

.button-unclickable:hover {
    -fx-background-color: "#454545";
}

/*******************************************************************************
 *                                                                             *
 * LED                                                                         *
 *                                                                             *
 ******************************************************************************/

.led {
    -fx-fill: "black";
}

.led-activate {
    -fx-fill: "red";
}

/*******************************************************************************
 *                                                                             *
 * Slider                                                                      *
 *                                                                             *
 ******************************************************************************/

.slider {
    
}

.slider .thumb {
    -fx-background-color: #e29c4a;
    -fx-background-insets: 0;
    -fx-background-radius: 0em;
    -fx-padding: 0.5em;
    -fx-effect: null;
}
.slider:focused .thumb {
    -fx-background-radius: 0em;
}

.slider .track {
    -fx-background-color: #6c6c6c;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.333333em; /* This value must be equal to ".slider .thumb" padding */
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: "#e29c4a";
    -fx-border-radius: 2px;
}

.slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: "#e29c4a";
}

.slider .axis .axis-tick-label{

}

/*******************************************************************************
 *                                                                             *
 * Label                                                                       *
 *                                                                             *
 ******************************************************************************/

 .tempoText {
    -fx-text-fill: "#e29c4a";
    -fx-font-size: 30px;
 }